<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (C) 2015 Hooked On Play -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hookedonplay.androidbycode.countrydatabase">

    <application android:allowBackup="true" android:label="@string/app_name">

    </application>

</manifest>
